# Default ignored files
/shelf/
/.idea/workspace.xml
/vcs.xml
/uiDesigner.xml
/misc.xml
/jarRepositories.xml
/encodings.xml
/compiler.xml
/Dynamic array/
/dynamic-array.iml
/pom.xml
/out/
/.idea/
*.iml